.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.swiper {
  width: 100%;
  transform: rotate(-30deg);
}
@media (max-width: 816px) {
  .swiper {
    width: 100%;
    transform: rotate(0deg);
  }
}
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .hexagon {
  transform: scale(0.6) rotate(30deg);
  transition: transform 0.2s ease;
}
.swiper-slide-active .hexagon {
  transform: scale(1) rotate(30deg);

  transition: transform 0.2s ease;
}
.swiper-slide-next .hexagon,
.swiper-slide-prev .hexagon {
  transform: scale(0.8) rotate(30deg);
  transition: transform 0.2s ease;
}

@media (max-width: 816px) {
  .swiper-slide .hexagon {
    transform: scale(0.6) rotate(0deg);
  }
  .swiper-slide-active .hexagon {
    transform: scale(1) rotate(0deg);
  }
  .swiper-slide-next .hexagon,
  .swiper-slide-prev .hexagon {
    transform: scale(0.8) rotate(0deg);
  }
}

.left-flag,
.right-flag {
  position: absolute;
  width: calc(50% - var(--hex-side) - 30px);
  height: var(--hex-side);
  z-index: 1;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  padding: 5px 10px;
}

.left-flag {
  bottom: 50%;
  left: 0;
}
.right-flag {
  top: 50%;
  right: 0;
}

@media (max-width: 816px) {
  .left-flag,
  .right-flag {
    position: absolute;
    width: calc(50% - var(--hex-side) - 15px);
    height: var(--hex-side);
    z-index: 1;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flag {
    top: 10%;
  }
  .right-flag {
    top: 10%;
  }
}
@media (max-width: 680px) {
  .left-flag,
  .right-flag {
    position: absolute;
    width: calc(50% + 2px);
    height: var(--hex-side);
    z-index: 1;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-flag {
    top: 10%;
  }
  .right-flag {
    top: 10%;
  }
  .left-flag::after,
  .right-flag::after {
    display: none;
  }
}
.left-flag::after,
.right-flag::after {
  content: "";
  position: absolute;

  width: var(--hex-side);
  height: var(--hex-side);
  z-index: -1;
  background-color: var(--white);
  transform: skewX(-30deg);
  border-radius: 15px;
}
.left-flag::after {
  left: 80%;
}
.right-flag::after {
  right: 80%;
}

@media (max-width: 960px) {
  .left-flag::after,
  .right-flag::after {
    width: 100%;
  }
  .left-flag::after {
    left: 17%;
  }
  .right-flag::after {
    right: 17%;
  }
}
@media (max-width: 816px) {
  .left-flag::after {
    left: 50%;
  }
  .right-flag::after {
    right: 50%;
  }
}
@media (min-width: 1300px) {
  .left-flag::after,
  .right-flag::after {
    width: 100%;
  }
  .left-flag::after {
    left: 9%;
  }
  .right-flag::after {
    right: 9%;
  }
}
